

<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top" style="background-color: white;" >
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../assets/talencia.png" width="150px" height="50px" alt=""></a>

        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login">Client Login</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/regist"
                style="margin-left:20px;">Register</button>
        </form>
    </div>
</nav>
<div>
    
    <router-outlet></router-outlet>
</div>


