<div>
    <div style="background-color:hsla(0,0%,95%,.4);">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-left:70px;">
                    <h2>{{title}}</h2>
                    <br>
                    <br>
                    <h5>{{title2}}</h5>
                </div>
                <div class="col-md-4" style="margin-left:90px;">
                    <img src="../assets/hands12.jpg" height="200px;" width="400px;">

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <h3 style="text-align: center;">{{title3}}</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3" style="background-color: 	#DCDCDC;width: 100%;">
                <br>
                <h5>Post a Job</h5>
                <p style="flex: down;font-size: 20px;">Post a job within Minutes
                    Reach over 3 Million Job seekers</p>
                <br>
                <br>
                <br>
                <a class="nav-link" href="#">Know more ></a>
                <br>
            </div>
            <div class="col-md-3" style="background-color: 	#DCDCDC;margin-left: 30px;">
                <br>
                <h5>Filter Candidates</h5>
                <p style="font-size: 20px;">Post a job within Minutes
                    Reach over 3 Million Job seekers</p>
                <br>
                <br>
                <br>
                <a class="nav-link" href="#">Know more ></a>
                <br>
            </div>
            <div class="col-md-3" style="background-color: 	#DCDCDC;margin-left: 30px;">
                <br>
                <h5>Pool hiring</h5>
                <p style="font-size: 20px;">Post a job within Minutes
                    Reach over 3 Million Job seekers</p>
                <br>
                <br>
                <br>
                <a class="nav-link" href="#">Know more ></a>
                <br>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<br>
<br>
<div style="background-color:hsla(0,0%,95%,.4);">
    <br>
    <h3 style="text-align: center;">Why recruit from Talencia?</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <p style="font-size: 20px;">Amcat is the only job portal in India to hire pre-assessed candidates. It
                    is the best place for hiring entry level graduates, who are aptitude-wise, suitable for your job
                    position.</p>
                <br>
                <br>
                <p style="font-size: 20px;">AMCAT assesses candidates for a variety of modules applicable to
                    Management, Marketing, Banking and Finance, Pharma, Food and Beverage and associate to hospitality,
                    apart from jobs in IT and ITes. And these allow you to access candidates from streams you’re looking
                    for.</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

</div>