<div class="container-fluid" style="margin: 10px solid black;">
    <div class="row">
        <div class="col-3">
            <img style=" width: 350px;height: 350px;" src="../assets/000016.jpg" alt="">
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-4"><img src="../assets/dna.png" alt=""></div>
                                <div class="col-8">
                                    <h4>Matched DNA</h4>
                                </div>
                                <h1 style="text-align: center;">{{dna}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-4"><img src="../assets/human-resources.png" alt=""></div>
                                <div class="col-8">
                                    <h4>Total Hired</h4>
                                </div>
                                <h1 style="text-align: center;">{{hired}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-4"><img src="../assets/group.png" alt=""></div>
                                <div class="col-8">
                                    <h4>Applied Caindidates</h4>
                                </div>
                                <h1 style="text-align: center;">{{applied}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-4"><img src="../assets/invitation.png" alt=""></div>
                                <div class="col-8">
                                    <h4>Invite Accepted</h4>
                                </div>
                                <h1 style="text-align: center;">{{invite}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-4"><img src="../assets/like.png" alt=""></div>
                                <div class="col-8">
                                    <h4>Applied Offer</h4>
                                </div>
                                <h1 style="text-align: center;">{{offer}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-4"><img src="../assets/rejected.png" alt=""></div>
                                <div class="col-8">
                                    <h4>Rejected Offer</h4>
                                </div>
                                <h1 style="text-align: center;">{{reject}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-4"><img src="../assets/email.png" alt=""></div>
                                <div class="col-8">
                                    <h4>Offer Sent</h4>
                                </div>
                                <h1 style="text-align: center;">{{sent}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="row">
                                <div class="col-4"><img src="../assets/interview.png" alt=""></div>
                                <div class="col-8">
                                    <h4>Accepted Interview</h4>
                                </div>
                                <h1 style="text-align: center;">79</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>