<div>
    <div class="card bg-dark text-white">

        <img src="../assets/login_img.jpg" height="500px" class="card-img" alt="..." />
        <!-- "https://mdbootstrap.com/img/new/slides/017.jpg" -->
        <div class="card-img-overlay">
            <!-- style="margin-left: 900px;margin-right: 100px;" -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="margin-top:70px;">
                        <div>
                            <h1 style="font-size: 30px;">Hire with Talencia</h1>
                            <br>
                            <p style="font-size: 17px;">India’s largest recruitment site for hiring pre-assessed candidates</p>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4" style="background-color:white;margin-top: 50px;">
                        <form>
                            <br>
                            <h5 style="color:black;font-size: 20px;margin-top: 0px;">Forgot password?</h5>
                            <br>
                            <h6 style="color: black;margin-top: 0px;font-size: 15px;">Please enter your email address below, we will
                                send you a link to reset your password.</h6>
                            <br>
                            <div class="form-group">

                                <input type="email" class="form-control" id="email" placeholder="Corparate Email Id"
                                    name="email">
                            </div>


                            <button type="submit" class="btn btn-primary" style="width:100%;">submit</button>
                            <br>
                            <br>
                            <div style="color: black;">
                                <a routerLink="/returntologin">Return to Login</a>

                            </div>
                            <br>


                        </form>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="container-fluid">
    <br>
    <h3 style="text-align: center;font-size: 25px;">Recruitment Solutions For Employers</h3>
    <br>
    <div>
        <!-- <h3 style="text-align: center;">{{title3}}</h3>
        <br> -->
        <div class="container">
            <div class="row">

                <div class="col-md-4" style="background-color: 	#DCDCDC;width: 100%;">
                    <br>
                    <h5 style="font-size: 20px;">Post a Job</h5>
                    <p style="flex: down;font-size: 18px;">Post a job within Minutes
                        Reach over 3 Million Job seekers</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a class="nav-link" href="#">Know more ></a>
                    <br>
                </div>
                <div class="col-md-3" style="background-color: 	#DCDCDC;margin-left: 30px;">
                    <br>
                    <h5 style="font-size: 20px;">Filter Candidates</h5>
                    <p style="flex: down;font-size: 18px;">Post a job within Minutes
                        Reach over 3 Million Job seekers</p>
                    <br>
                    <br>
                    <br>
                    <a class="nav-link" href="#">Know more ></a>
                    <br>
                </div>
                <div class="col-md-4" style="background-color: 	#DCDCDC;margin-left: 30px;">
                    <br>
                    <h5 style="font-size: 20px;">Pool hiring</h5>
                    <p style="flex: down;font-size: 18px;">Post a job within Minutes
                        Reach over 3 Million Job seekers</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a class="nav-link" href="#">Know more ></a>
                    <br>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<div style="background-color:hsla(0,0%,95%,.4);">
    <br>
    <h3 style="text-align: center;font-size: 25px;">Why recruit from Talencia?</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <p style="font-size: 20px;">Talencia is the only job portal in India to hire pre-assessed candidates.
                    It is the best place for hiring entry level graduates, who are aptitude-wise, suitable for your job
                    position.</p>
                <br>
                <br>
                <p style="font-size: 20px;">Talencia assesses candidates for a variety of modules applicable to
                    Management, Marketing, Banking and Finance, Pharma, Food and Beverage and associate to hospitality,
                    apart from jobs in IT and ITes. And these allow you to access candidates from streams you’re looking
                    for.</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

</div>